# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.P_Spell_Em_Up_BTPC.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\DOCS\GitHub\unityProjects\P_Spell_Em_Up_BTPC\.idea\.idea.P_Spell_Em_Up_BTPC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
