# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.P_Spell_Em_Up — копия.iml
# Datasource local storage ignored files
/../../../../../../../../:\DOCS\GitHub\unityProjects\P_Spell_Em_Up — копия\.idea\.idea.P_Spell_Em_Up — копия\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
